body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 8%;
}

.header{
  background-image: url(../imagens/topo.jpg);
  height: 700px;
  background-position: left center;
  background-size: cover;
}

#menu{
  list-style: none;
  background: rgb(100, 98, 98);
  height: 60px;
  color: rgb(54, 54, 54);
  text-align: right;
  position: relative;
}

#menu li{
  display: inline-block;
  margin: 20px;
  letter-spacing: 5px;
}

#logo{
  position: absolute;
  top: 15px;
  left: 310px;
}

