body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 8%;
}

.header{
  background-image: url(../imagens/topo.jpg);
  height: 500px;
  background-position: left center;
  background-size: cover;
}

#menu{
  list-style: none;
  background: #081A24;
  height: 60px;
  color: rgb(54, 54, 54);
  text-align: right;
  position: relative;
}

#menu li{
  display: inline-block;
  margin: 20px;
  letter-spacing: 5px;
}

#logo{
  position: absolute;
  top: 15px;
  left: 310px;
}

.text{
  text-align: center;
  color: #20201E;
  line-height: 2;
}

.cards{
  overflow: auto;
  text-align: center;
  display: inline-block;
  width: 99%;
}

.card-1{
  float: left;
  width: 32%;
}
.card-2{
  float: left;
  margin-left: 2%;
  width: 32%;
}

.card-3{
  float: left;
  margin-left: 2%;
  width: 32%;
}

.about{
  background-image: url(../imagens/bg_detalhe.png);
  height: 400px;
  background-position: left bottom;
  background-size: cover;
  padding: 50px;
  color: white;
 }

 .map{
   text-align: center;
  }

 .title{
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 50px;
   line-height: 1.2;
   letter-spacing: 5px;
   margin-top: 0;
 }

 .content{
   width: 60%;
   line-height: 1.5;
   text-transform: capitalize;
   font-weight: bold;
     }

  .contact p{
    font-size: 30px;
    text-align: center;
    color: #003E51;
    text-transform: uppercase;
    font-weight: bolder;
  }

  footer{

    background: #001018;
    height: 60px;
    text-align: center;
  }

  footer p{
    color: #003E51;
    padding-top: 20px;
  }
