body{
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;
  margin: 0px;
}

.hero{
  background-image: url(../imagens/bg-3.jpg);
  height: 500px;
  background-position: right center;
  background-size: cover;
  border-top: 1px solid transparent;
}

.hero-content{
  text-align: center;
  color: white;
  margin-top: 150px;
}

.hero-content h1{
  text-transform: uppercase;
  font-size: 46px;
  text-shadow: 3px 3px 2px #333;
}

.hero-content p{
  background-color: rgba(0,0,0,.8);
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid white;
}

.hero nav ul{
  text-align: right; /*com o display inline-block o elemento se comporta como um elemento de linha*/
  margin: 15px 25px 0 0;
}

.hero nav li{
  display: inline-block;
  list-style: none;
  border: 1px solid white;
  margin-left: 10px;
}

.hero nav a{
  background: rgba(0, 0, 0, 0.2);
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.hero nav a:hover{
  background: rgba(0, 0, 0, 0.5);
}

main{
  width: 80%;
  margin: auto;
}

.content-section{
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer{
  background-color: rgb(95, 95, 95);
  height: 80px;
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px #333;
  font-weight: bold;
  line-height: 80px;
}

.content-section header h2{
  background-color: #ccc;
  padding: 10px;
  margin: 0px;
}
.card{
  width: 32%;
  float: left;
  border: 2px solid blue;
  box-sizing: border-box;
  margin-left: 1%;
}

.card-1, .card-2{
  margin-right: 2%;
}

.card img{
  width: 100%;
}
